<mat-card>
    <h2>Add Student</h2>

    <form #customerForm = "ngForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)] = name name = name required>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Average grade</mat-label>
                <input matInput [(ngModel)] = average name = average required>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Psychometric Grade</mat-label>
                <input matInput [(ngModel)] = psychometric name = psychometric required>
              </mat-form-field>
        </div>
        <!-- <div>
            <div *ngFor="let name of checkboxData">
                <input type="checkbox" [name]="name" (change)="onChange($event)" [disabled]="isChecked && (isCheckedName!=name)"> {{'Completed the tuition' + name}}
            </div>
        </div> -->

        <div>
            <mat-form-field appearance="fill">
              <mat-label>Completed the tuition?</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="choise">
                <mat-option *ngFor="let choise of choises" [value]="choise.value">
                  {{choise.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill" *ngIf = "result">
              <mat-label>{{default}}</mat-label>
              <mat-select [(ngModel)]="selectedValue2" name="choise" >
                <mat-option *ngFor="let choise of choises2" [value]="choise.value">
                  {{choise.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>


        <div>
            <button mat-raised-button color="primary" *ngIf = "result" (click) = "add()">Save</button>
            <button mat-raised-button *ngIf = "result" (click) = "result = null" >Cancel</button>
        </div>
        <div>
            <p><button mat-raised-button (click) = "predict()" *ngIf = "!result">Predict</button></p>
        </div>
    </form>
</mat-card>



