

<table mat-table [dataSource]="students" class="mat-elevation-z8" *ngIf = "(auth.getUser() | async)">
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- average Column -->
    <ng-container matColumnDef="average">
      <th mat-header-cell *matHeaderCellDef> Average </th>
      <td mat-cell *matCellDef="let element"> {{element.average}} </td>
    </ng-container>

     <!-- psychometric Column -->
     <ng-container matColumnDef="psychometric">
        <th mat-header-cell *matHeaderCellDef> Psychometric </th>
        <td mat-cell *matCellDef="let element"> {{element.psychometric}} </td>
      </ng-container>

       <!-- predict Column -->
    <ng-container matColumnDef="predict">
        <th mat-header-cell *matHeaderCellDef> Predict </th>
        <td mat-cell *matCellDef="let element"> {{element.result}} </td>
      </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-raised-button color = "warn" (click) = "delete(element.id)">
          Delete
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  